@mixin mainContainer{
    width: $mainWidth;
    margin: $mainMarginAuto;
    border: $mainBorder;
    background: $mainBgColor
}

@mixin display{
    display: flex;
    align-items: center;
    align-content: center;
}


// FirstFontSize:14px LineHeight: 24px

@mixin firstFont{
    font-size: $firstFontSize;
    font-weight: $firstFontWeight;
    font-family: $firstFontFamily;
    line-height: $firstFontHeight;
    color: $firstFontColor;
}


// SecondFontSize: 24px LineHeight: 32px

@mixin secondFont{
    font-size: $secondFontSize;
    font-weight: $secondFontWeight;
    font-family: $secondFontFamily;
    line-height: $secondFontHeight;
    color: $secondFontColor;
    letter-spacing: $secondFontSpace;
}

// ThirdFontSize: 58px LineHeight:65px

@mixin thirdFont{
    font-size: $thirdFontSize;
    font-weight: $thirdFontWeight;
    font-family: $thirdFontFamily;
    line-height: $thirdFontHeight;
    color: $thirdFontColor;
    letter-spacing: $thirdFontSpace;
}

// FourthFontSize: 20px LineHeight: 30px

@mixin fourFont{
    font-size: $fourFontSize;
    font-weight: $fourFontWeight;
    font-family: $fourFontFamily;
    line-height: $fourFontHeight;
    color: $fourFontColor;
    letter-spacing: $fourFontSpace;
}

// FifthFontSize: 14px LineHeight: 28px
    
@mixin fiveFont{
    font-size: $fiveFontSize;
    font-weight: $fiveFontWeight;
    font-family: $fiveFontFamily;
    line-height: $fiveFontHeight;
    letter-spacing: $fiveFontSpace;
}

// SixthFontSize: 14px LineHeight: 20px

@mixin sixFont{
    font-size: $sixFontSize;
    font-weight: $sixFonWeight;
    font-family: $sixFontFamily;
    color: $sixFontColor;
    line-height: $sixFontHeight;
    letter-spacing: $sixFontSpace;
}

// Button

@mixin button{
    width: 182px;
    height: 48px;
    border-radius: 24px;
    cursor: pointer;
}