// Main

$mainWidth: 1440px;
$mainMarginAuto: auto;
$mainBorder: 2px solid black;
$mainBgColor: #FAFAFA;


// FirstFontSize:14px LineHeight: 24px

$firstFontSize: 14px;
$firstFontWeight: 600;
$firstFontFamily: Open Sans;
$firstFontHeight: 24px;
$firstFontColor: #737373;


// SecondFontSize: 24px LineHeight: 32px

$secondFontSize: 24px;
$secondFontWeight: 700;
$secondFontFamily: Martel;
$secondFontHeight: 32px;
$secondFontColor: #252B42;
$secondFontSpace: 0.1px;

// ThirdFontSize: 58px LineHeight: 65px

$thirdFontSize: 58px;
$thirdFontWeight: 900;
$thirdFontFamily: Martel;
$thirdFontHeight: 65px;
$thirdFontColor: #252B42;
$thirdFontSpace: 0.2px;

// FourthFontSize: 20px LineHeight: 30px

$fourFontSize: 20px;
$fourFontWeight: 500;
$fourFontFamily: Montserrat;
$fourFontHeight: 30px;
$fourFontColor: #737373;
$fourFontSpace: 0.2px;

// FifthFontSize: 14px LineHeight: 28px

$fiveFontSize: 14px;
$fiveFontWeight: 700;
$fiveFontFamily: Open Sans;
$fiveFontHeight: 28px;
$fiveFontSpace: 0.2px;

// SixthFontSize: 14px LineHeight: 20px

$sixFontSize: 14px;
$sixFonWeight: 400;
$sixFontFamily: Open Sans;
$sixFontColor: #737373;
$sixFontHeight: 20px;
$sixFontSpace: 0.2px;

// SeventhFontSize: 40px LineHeight: 50px

$sevenFontSize: 40px;
$sevenFontWeight: 700;
$sevenFontFamily: Martel;
$sevenFontColor: #252B42;
$sevenFontHeight: 50px;
$sevenFontSpace: 0.2px;

// EighthFontSize: 16px LineHeight: 24px

$eightFontSize: 16px;
$eightFontWeight: 700;
$eightFontFamily: Martel;
$eightFontHeight: 24px;
$eightFontSpace: 0.1px;
$eightFontColor: #252B42;